*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(135deg, rgb(191, 114, 241), rgb(229, 185, 241));
}

html{
    font-size: 16px;
}

.wrapper{
    position: absolute;
    transform: translate( -50%, -50%);
    top: 50%;
    left: 50%;
}

.container{
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.button-option{
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: rgb(11, 9, 12);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#restart{
    font-size: 2em;
    padding: lem;
    border-radius: 8px;
    background-color: #0a0027;
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
    width: 150px;
    height: 50px;
}

.popup{
    background: linear-gradient(135deg, rgb(125, 63, 167), rgb(229, 185, 241));
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: lem;
    font-size: 12vmin;
}

#new-game{
    padding: 0.5em lem;
    background-color: #0a0027;
    color: #ffffff;
    font-size: 0.3em;
    border-radius: 0.2em;
    border: none;
    width: 150px;
    height: 50px;
}

#message{
    color: #ffffff;
    text-align: center;
    font-size: lem;
}

#message1{
    color: #fd0707;
    text-align: center;
    font-size: lem;
}

#message2{
    color: #fd0707;
    text-align: center;
    font-size: lem;
}


.popup.hide{
    display: none;
}